{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow text-center p-5">
            <h2>Welcome, {{ user_name }}! 👋</h2>
            <p class="lead">How are you feeling today?</p>
            
            <div class="mt-4">
                <a href="{{ url_for('mood_tracker') }}" class="btn btn-success btn-lg mx-2">
                    <i class="fas fa-smile"></i> Log Mood
                </a>
                <a href="{{ url_for('chatbot') }}" class="btn btn-primary btn-lg mx-2">
                    <i class="fas fa-comments"></i> Talk to AI
                </a>
                <a href="{{ url_for('report') }}" class="btn btn-info btn-lg mx-2">
                    <i class="fas fa-file-alt"></i> View Reports
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}